<!-- <app-lista-personas></app-lista-personas> -->
<!-- <button class="btn btn-warning m-3" (click)="nuevaPersona()">Agregar nueva Persona</button> -->
<!-- <div *ngIf="agregando"> -->
    <!-- <app-alta-persona (onAgregar)="formularioCerrado($event)"></app-alta-persona> -->
<!-- </div> -->


<div >
    <ul>
        <li><a routerLink="/app/altapersonas">Alta personas</a></li>
        <li><a routerLink="/app/listadoclientes">Listado clientes</a></li>
    </ul>
</div>

<router-outlet></router-outlet>
